html {
     font-family: 'Lato', sans-serif;
    color: white;
}
#formularz {
    background-color: #213b50;
    width: 430px;
    padding: 10px;
}

label,
input,
select{
    color:white;
    margin: 5px;
    border: 2px solid transparent;
}

input,
label{
    background-color: #2b4a64;
}

input[type="submit"] {
    background-color: greenyellow;
    color:white;
    text-transform: uppercase;
    padding: 10px;
    margin 0;
}

label[for=""] {
    margin: 0px;
 }

input:focus {
    background-color: #213b30;
    border: 2px solid white;
    color: white;
}