html {
     font-family: 'Lato', sans-serif;
    color: white;
}
#formularz {
    background-color: #213b50;
    width: 50%;
    padding: 10px;
}

label,
input{
    color:white;
    margin: 5px;
}
input{
    background-color: #2b4a64;
    border: none;
}

select{
    margin: 5px;
    background-color: #2b4a64;
    border: transparent;
    color: white;
}

input[type="submit"] {
    background-color: greenyellow;
    color:white;
    text-transform: uppercase;
    padding: 10px;
    margin 0;
}

label[for=""] {
    margin: 0px;
}

input:focus {
    background-color: green;
    border: 1px solid red;
    color: pink;
}